{% comment %}
  title: Customer account links
  description: Customer account links allow customers to log into their existing account or to create a new account on a Shopify store. These links typically appear in the header area of a website.
  tags: #customer, #account, #header
  last_updated: 2018-10-05
  step_1: Add the following code to the `header.liquid` section file, or in the place that you want the customer account links to appear.
{% endcomment %}

{%- if shop.customer_accounts_enabled -%}
  <ul>
    {%- if customer -%}
      <li>
        <a href="/account">Account</a>
      </li>
      <li>
        {{ 'Log out' | customer_logout_link }}
      </li>
    {%- else -%}
      <li>
        {{ 'Log in' | customer_login_link }}
      </li>
      <li>
        {{ 'Create account' | customer_register_link }}
      </li>
    {%- endif -%}
  </ul>
{%- endif -%}
